{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<style>
    body {
        background-image: url("https://oweishyl.sirv.com/hands.png");
        /* Additional styles for the body */
    }
</style>
<form method="POST">
  <h1 align="center">Welcome to the Bandersnatch Cup!</h1>
  <h3 align="center">Login</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}
